@import 'include-media.scss';


.about-section {
  width: 80vw;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;

  @include media(">=phone", "<lgphone") {
    flex-direction: column;
  }

  @include media(">=lgphone", "<tablet") {
    flex-direction: column;
  }

  @include media(">=tablet", "<desktop") {
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 50%;
    text-align: justify;

    @include media(">=phone", "<lgphone") {
      width: 100%;
    }

    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }

    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      line-height: 20px;
      display: flex;

      @include media(">=phone", "<lgphone") {
        font-size: 1.5rem;
        text-align: center;

      }

      @include media(">=lgphone", "<tablet") {
        font-size: 1.5rem;
        text-align: center;

      }

      @include media(">=tablet", "<desktop") {
        font-size: 2.5rem;
        text-align: center;
      }
    }

    p {
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }

  .image-wrapper {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include media(">=phone", "<lgphone") {
      width: 100%;
    }

    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }

    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    img {
      max-width: 80%;
      max-height:80%;
      object-fit: cover;

    }

  }
}